.mail-details {
    background-color: white;
    border-radius: 16px;
    >*:not(.subheader) {
        margin-inline-start: 3.428571429em;
        margin-inline-end: 2em;
    }

    .footer-btn {
        display: inline-flex;
        gap: 10px;
        opacity: 0.75;
        border: 1px solid #747775;
        border-radius: 18px;
        margin-right: 8px;
        font-weight: 500;
        padding-block: .5em;
        padding-inline: 1em;
    }

    h2 {
        font-size: 22px;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block-start: 1em;

        .left-section {
            display: flex;
            gap: .5em;
        }

        .right-section {
            display: flex;
            gap: 1em;
        }

    }

    .subheader {
        display: flex;
        justify-content: space-between;
        margin-block-start: 1em;
        margin-inline-end: 2em;

        .name {
            font-weight: bold;
        }

        .left-section {
            display: flex;
        }

        .right-section {
            display: flex;
            gap: 1em;
        }
    }

    .body {
        display: flex;
    }

    .footer {
        display: flex;
        padding-block: 3em;
    }
}