.mail-details {
    .footer-btn {
        display: inline-flex;
        gap: 10px;
        opacity: 0.75;
        border: 1px solid #747775;
        border-radius: 18px;
        margin-right: 8px;
        font-weight: 500;
        padding-block: .5em;
        padding-inline: 1em;
    }
}