:root {
    --main-bg-color: lightblue;

    /* Note vars */


    /* Mail vars */
    --mail-clr-1: #6D7291;
    --mail-clr-2: #0B57D0;
    --mail-bgc-1: #C0E6FF;
    --mail-bgc-2: #E9F1FB;
    --mail-bgc-3: #D3E3FD;
    --icon-px: 20px;
    --icon-px-2: 24px;
    --icon-px-3: 40px;
    --btn-padding: 8px;
    --btn-padding-2: 4px;
    --spacing-xs: 12px;
    --spacing-xl: 60px;
}