 /* note list */
 .note-list{
   grid-column: 2;
   justify-content: center;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 10px;
    justify-items: center;
 }
 .note-list .note{
    box-sizing: border-box;
    width: 100%;
    max-height: 200px;
    min-height: 60px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
 }
 .remove-note{
   position: relative;
   background: none;
   border: 0;
   bottom: 0;
 }
 .remove-note svg{
   width: 10px;
   height: 10px;
 }
 .note{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }