.mail-index {
    input[type="checkbox"] {
        cursor: pointer;
    }

    display: grid;
    grid-template-columns: 250px 1fr;
    overflow-x: hidden;
    font-size: 14px;

    .left-btns {
        display: grid;
        grid-auto-flow: column;
        gap: 0.5em;
    }
    
    .pagination-header {
        display: flex;
        justify-content: space-between;
        margin-block: var(--spacing-xs);

        .left-btns {
            display: flex;
            gap: 1.5em;
        }
        .right-btns {
            display: flex;
            gap: 1.5em;

            span {
                font-size: 0.85em;
            }

            margin-inline-end: var(--spacing-xl);
        }
    }

    .mail-preview {
        max-width: 100vw;
        display: grid;
        grid-template-columns: calc(5em) 200px 1fr 96px;
        padding-block: 0.4em;

        .name {
            flex: .22 0 auto;
        }

        .body {
            color: var(--mail-clr-1);
            margin-inline-start: 1ch;
        }

        .subject {
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;

            /* flex: 1 0 auto; */
        }

        .main-text {
            display: grid;
            grid-auto-flow: column;
            /* gap: 1ch; */
        }

        .date {
            flex: 1 0 auto;
            text-align: right;
            margin-inline-end: 1.5em;
        }
    }

    /* Folder list */
    .mail-folder-list {
        ul li a {
            display: flex;
            align-items: center;
            gap: 1.2em;
            margin-inline-start: 1em;
            padding-block: 0.35em;
        }

        .compose {
            /* background-color: var(--mail-bgc-1); */
            border-radius: 14px;
            padding: 0.6em;
            padding-inline-end: 1.5em;
            border: none;
            margin-inline-start: 0.4em;
            font-weight: 500;
        }
    }
}