.about {
    .about-hero {
        display: flex;

        img {
            display: inline-block;
            margin: auto;
            width: 400px;
        }
    }

    .centered-text {
        display: grid;
        grid-template-columns: 1fr clamp(30vw, 100ch, 90vw) 1fr;

        span {
            grid-column: 2;
        }
    }
}