.mail-compose {
    position: fixed;
    bottom: 0;
    right: 4em;
    width: 600px;
    height: 600px;
    background-color: white;
    margin-inline: 1em;

    .form-footer {
        margin-block-end: 1em;

        button {
            background-color: var(--mail-clr-2);
            color: white;
            border-radius: 18px;
            padding-block: 0.5em;
            padding-inline: 2.5em;
            font-weight: 500;
        }
    }

    >* {
        margin-inline: 1em;
    }

    .compose-header {
        display: flex;
        justify-content: space-between;
        
        margin-inline: 0;
        padding-inline: 1em;
        padding-block: 10px;
        
        background-color: var(--mail-bgc-6);
        font-weight: 600;
    }

    display: flex;
    flex-direction: column;

    form {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-inline: 1em;

        input {
            box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, .12);
            padding-block: 10px;
        }

        div,
        input {
            width: 100%;
        }

        input,
        textarea {
            outline: none;
            border: none;
        }

        .body {
            flex: 1;
        }
    }

    textarea {
        flex: 1;
        height: 100%;
        width: 100%;
    }
}