header {
    background: white;
    border-bottom: 2px solid white;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07)
    
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

nav a {
    margin: .5em;
    opacity: 0.7;
}

nav a:active {
    color: purple;
}

nav a.active {
   
    font-weight: bold;
   opacity: 1;
}
.keep-logo{
    margin-inline-start: 28px;
    height: 30px;
}