.mail-app-header {
    position: relative;
    display: grid;
    grid-template-columns: 250px 1fr 168px;
    padding: var(--btn-padding);
    margin-inline-start: 1em;

    .group {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .search-group {
        position: relative;
        width: 720px;
        /* should be max width */
        gap: 0;
        background-color: var(--mail-bgc-2);
        border-radius: 24px;

        input {
            font-weight: 500;
        }
    }

    .hamburger {
        opacity: 0.6;
        height: var(--icon-px-2);
        width: var(--icon-px-2);
    }

    .mail-search {
        width: 100%;
        z-index: 0;
        border: none;
        outline: none;
        background: url('../../img/search.svg') left no-repeat;
        background-position: 8px;

        padding-inline: 2.4em;
    }

    .search-options {
        position: absolute;
        z-index: 1;
        right: 1em;
        background-color: var(--mail-bgc-2);
        border: none;
        width: var(--icon-px-2);
        height: var(--icon-px-2);
        padding: var(--btn-padding);
        background-image: url('../../img/search-options.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mail-logo {
        align-self: center;
        height: 40px;
        width: auto;
        object-fit: none;
    }
}

/* overwrite header settings */
header.mail-app-header {
    background: var(--mail-bgc-5);
    border-bottom: none;
    box-shadow: none;
}

.icon-4 {
    height: 3.3em;
    width: 3.3em;
}

.keep-logo img, .default-logo img{
    height: 28px;
    width: 28px;
}

.mail-app-header .right-group {
    grid-column: 3;
    justify-self: center;
}