.user-msg {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: lightgray;
    padding-inline: 2em;
    border-radius: 4px;
    position: absolute;
    top: 1em;
    right: 1em;
}

.user-msg.success {
    background-color: lightgreen;
}

.user-msg.error {
    background-color: lightpink;
}
.user-msg.info {
    background-color: #252629;
    color: #e7e7e7;
    font-weight: 600;
}


.user-msg button{
    float: right;
    margin: 1em;
}